/*****
***********
Notes
***********
Designed Mobile First
Firefox Resp. Dev. Mode, Apple iPhone 6 Plus
font-family: 'Righteous', cursive;
font-family: 'Teko', sans-serif;

To-Do-List:
ABOUT & MATERIALS PAGES.

***********
*****/

/*****
***********
BODY
***********
*****/


body {
    background: url(../img/nebula.png) no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: 'Teko', sans-serif;
}

body .wrapper {
    width: 80%;
    padding: 0 10%;
    overflow: hidden;
}

body .wrapper2 {
    width: 80%;
    padding: 0 10%;
    padding-top: 22%;
    overflow: hidden;
}

.placeholder{
	width: 200px;
	height: auto;
}

.vplaceholder {
	width: 200px;
	height: auto;
	margin-left: 10%;
}

/*****
***********
HEADER
***********
*****/

header {
	padding-bottom: 2%;
}

header img {
	width: 40%;
	height: auto;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-top: 1%;
	position: absolute;
	left: 25%;
	top: 10%;
	transform: translate(-50%,-50%);
	padding-bottom: 12px;
}


header nav ul {
	padding-left: 0;
	display :inline-block;
	border-radius: 10%;
	position: absolute;
	right: 3%;
	top: 3%;
	padding-left: .25em;
	padding-right: .5em;
	margin-top: 0;
}

header nav ul li {
	list-style-type: none;	
	font-family: 'Righteous', cursive;
	font-size: 18px;
	text-align: right;
	margin-left: 8px;
}

header nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
	text-shadow: 1px 1px 1px black;
	transition: .6s all;
}

header nav ul li a:hover {	
	color: #ddbddb;
}

/*****
***********
MAIN
***********
*****/
.tutorial {
	background-color: rgba(0,0,0,.5);
	padding: 0 20% 0;
	color: rgba(255,255,255,.8);
	letter-spacing: .5px;
	font-size: 24px;
	border-radius: 25px;
	padding-left: 4%;
	padding-right: 4%;
	margin: 0 4% 0;
	text-align: left;
}

.tutorial h1 {
	margin-top: 12px;
	line-height: 75%;
}

.tutorial h2 {
	font-size: 18px;
	letter-spacing: 1px;
}

.tutimg {
	text-align: center;
	width: 60%;
	height: auto;
	margin-left: 50%;
	transform: translate(-50%,0);
	border-radius: 12px;
	box-shadow: 3px 3px 3px gray;
}

.tutimg2 {
	width: 80%;
	height: auto;
	text-align: center;
	margin-left: 50%;
	transform: translate(-50%,0);
	border-radius: 12px;
	box-shadow: 3px 3px 3px gray;
}

.breadcrumbs a {
	color: white;
	text-decoration: none;
	transition: .6s all;
}

.breadcrumbs p {
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 12px;
}

.breadcrumbs a:hover {
	color: #ddbddb;	
}


/*****
***********
FOOTER
***********
*****/
footer {
	background-color: rgba(0,0,0,.5);
}

footer ul {
	padding-bottom: 0;
	margin-bottom: 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
}

footer li a {
	color: white;
	font-size: 200%;
	transition: .6s all;
}

footer li a:hover {
	color: #ddbddb;	
}

.social-links {
	margin-left: 50%;
	transform: translate(-50%,-50%);
	padding-top: 20%;
}

/*****
***********
DESKTOP VIEW CHANGES 
***********
*****/

@media screen and (min-width: 47.5em){

.vplaceholder {
	margin-left: 40%;
}

body .wrapper2 {
    width: 80%;
    padding: 0 10%;
    padding-top: 10%;
    overflow: hidden;
}

header {
	padding-bottom: 0;
}

header nav ul {
	padding-left: 0;
	display :inline-block;
	border-radius: 10%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	right: 3%;
	top: 3%;
	padding-left: .25em;
	padding-right: .5em;
}

header img {
	width: 20%;
	height: auto;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-top: 1%;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%,-50%);
}

header nav ul li {
	list-style-type: none;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	text-align: left;
	margin-left: 8px;
}

footer .social-links {
	padding-top: 2%;
	margin-left: 85%;
}

.right {
	text-align: right;
	margin-left: 25%;
}

.left {
	text-align: left;
	margin-right: 25%;
}


.tutorial {
	font-size: 32px;
}
}
